.collection-page {
  display: flex;
  flex-direction: column;
  padding: 0 2px;

  .title {
    font-size: 25px;
    margin: 0px auto 30px;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

  }

  @media only screen and (max-width: 1000px) {
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }

  @media only screen and (max-width: 750px) {
    .items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }

  @media only screen and (max-width: 400px) {
    .items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }
}
