.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 17px;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);
  top: 90px;
  right: 6%;
  z-index: 5;

  .cart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 7px;
  }

  button {
    margin-top: auto;
    width: 100%;
  }
}
