.menu-item {
  min-width: 30%;
  height: 250px;
  flex: 1 1;
  position: relative;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 390px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 50px;
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(195, 0, 255, 0.3);
    position: absolute;
    bottom: 0;
    

    .title {
      font-weight: bold;
      margin: 0 6px 0;
      font-size: 22px;
      color: #ffffff;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
