:root {
  --base-duration: 800ms;
  --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
  --slide-size: 350px;
  --slide-margin: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 0 9vw 3vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}
